.pub_container{
    background-color: $bg-color;
    
    &__switch{
        display: flex;
        justify-content: center;
        margin: 0 auto 30px;
    }
    &__switch input {
        position: absolute;
        z-index: -1;
        width: 0;
        height: 0;
        opacity: 0;
    }
    &__switch label {
        display: flex;
        width: 230px;
        justify-content: center;
        align-items: center;
        height: 38px;
        border-radius: 12px;
        position: relative;
        cursor: pointer;
        background: $separator-color
    }
    &__switch label::before {
        content: '';
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 2px;
        width: 105px;
        height: 36px;
        background: $basic-white;
        border-radius: 12px;
        transition: all .3s linear;
    }
    &__switch input:checked+label::before {
        left: calc(100% - 2px);
        transform: translateX(-100%);
    }
    &__switch label span {
        color: $main-color;
        font-size: 16px;
        font-weight: 700;
        flex: 1 1 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__buttom{
        margin: 0 auto 30px;
        width: 211px;
        background-color: $regular-color;
        border-radius: 12px;
        display: flex;
        padding: 18px 30px;
        justify-content: center;
        color: $basic-white;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.50);
      }
  }